<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.christiankarlsson.hangman">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="@string/menu_main_title">
        <activity
            android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GameActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.christiankarlsson.hangman.ui.MainActivity">
            </meta-data>
        </activity>
        <activity
            android:name=".ui.AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.christiankarlsson.hangman.ui.MainActivity">
            </meta-data>
        </activity>
        <activity
            android:name=".ui.ResultActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.christiankarlsson.hangman.ui.MainActivity">
            </meta-data>
        </activity>
        <activity
            android:name=".ui.LibraryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.christiankarlsson.hangman.ui.MainActivity">
            </meta-data>
        </activity>
    </application>

</manifest>